# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
dist2
dist3
build

# Misc
.DS_Store
*.local

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode
.idea
